button {
  background-color: white;
  border: 1px solid grey
}

.game-board {
  
  width: 600px;
  height: 600px;
  margin: 0 auto;
  background-color: white; /*bottom board */
  border-radius: 10px;
  display: grid;
  
}

.grid-row {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 30px;
  display: grid;
  grid-template-rows: 180px;
  grid-template-columns: 180px 180px 180px;
  grid-gap:0em;
  background-color: white;
}

/* .block {
  background-color: rgb(219, 28, 28);
  border: 6px solid green;
  border-radius: 6px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 20em;
} */


.red {
  font-size: 20px;
  color: white;
  text-shadow: 0 0 8px #FF0000;
}

.blue {
  font-size: 20px;
  color: white;
  text-shadow: 0 0 8px #0099ff;
}

